:root {
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.grid__full-width {
    width: 100%;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    border: none;
    cursor: pointer;
}

/* input === */
.form-wrap {
    display: flex;
}

.form-input {
    padding: 10px;
    font-size: 1.3rem;
    background-color: #eff0f5;
    border: none;
    flex: 1;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    outline: none;
    width: 100%;
}

.form-btn {
    background-color: #f36f36;
    width: 28px;
    height: 38px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
}

.form-btn i {
    color: #fff;
    font-size: 2.5rem;
}
/* === End input */

/* Animation */
@keyframes grow {
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}