/* Header === */
.header__banner {
    background-color: #ff3399;
}

.header__banner-container {
    width: 1188px;
    margin: 0 auto;
    position: relative;

}

.header__banner-img {
    display: block;
    margin: 0 auto;
}

.header__banner-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--white-color);
    font-size: 2rem;
}

    /* Header navbar */
.header__nav {
    background-color: rgba(0, 0, 0, .03);
    text-align: right;
}

.header__nav-item {
    text-decoration: none;
    margin: 0 17px;
    /* position: relative; */
    display: inline-block;
    cursor: pointer;
}

.header__nav-item:last-child {
    margin: 0px 0px 0px 17px;
}

.header__nav-item-text {
    text-transform: uppercase;
    color: #9e9e9e;
    font-size: 1.2rem;
    line-height: 25px;
}

.header__nav-item-text:hover {
    color: #f57224;
}

.header__nav-item-text--link {
    color: #0f1568;
}

    /* Tạo cầu nối giữa popup và nav bar */
.header__nav-QR::after,
.header__nav-customer-care::after,
.header__nav-track::after,
.header__nav-language::after {
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -19px;
    left: 0;
    right: 0;
    display: block;
    content: "";
}
    /* Tạo mũi tên */
.header__nav-QR::before,
.header__nav-customer-care::before,
.header__nav-track::before,
.header__nav-language::before {
    content: "";
    position: absolute;
    border: 1px solid;
    width: 10px;
    height: 10px;
    border-color: #ccc transparent transparent #ccc;
    background-color: #fff;
    transform: rotate(45deg);
    top: -6px;
    left: 48.5%;
}

    /* Header nav QR popup */
.header__nav-QR {
    width: 380px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    padding: 20px;
    top: calc(100% + 12px);
    text-align: left;
    color: var(--text-color);
    font-size: 1.6rem;
    border: 1px solid #ccc;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    cursor: default;
    border-radius: 2px;
    transform-origin: left top;
    animation: grow ease .3s;
    will-change: opacity, scale;
}

.show-QR, .show-customer-care, .show-language, .show-track {
    position: relative;
}

.show-QR:hover .header__nav-QR {
    display: block;
}

.header__nav-QR-title {
    margin-bottom: 20px;
}

.header__nav-QR-promotion {
    display: flex;
    cursor: default;
}

.header__nav-QR-promotion-text {
    padding-left: 10px;
    padding-top: 1px;
    color: #199cb7;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: 1.8rem;
}

.header__nav-QR-promotion-list {
    padding: 5px 0px 0px 15px;
}

.header__nav-QR-form {
    margin: 28px 0px;
}

.header__nav-QR-store {
    display: flex;
    justify-content: space-around;
}

.header__nav-QR-store-link {
    text-decoration: none;
    color: transparent;
}

.header__nav-QR-store-img,
.header__nav-QR-google-img {
    width: 135px;
    height: 46px;
    background-repeat: no-repeat;
    background-position: -530px -625px;
    background-image: url(https://lzd-img-global.slatic.net/g/tps/tfs/TB1nQJUcwmTBuNjy1XbXXaMrVXa-986-930.png);
}

.header__nav-QR-google-img {
    background-position: -530px -578px;
}

    /* Header nav customer care popup */
.header__nav-customer-care {
    display: none;
    width: 232px;
    position: absolute; 
    background-color: #fff;
    color: #9e9e9e;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border: 1px solid #ccc;
    top: calc(100% + 12px);
    border-radius: 2px;
    cursor: default;
    transform-origin: left top;
    animation: grow ease .3s;
    will-change: opacity, scale;
}

.header__nav-customer-care-list {
    padding: 25px 25px 0 25px;
}

.header__nav-customer-care-item {
    display: block;
    text-align: left;
    padding: 0 0 0px 40px;
    margin-bottom: 20px;
    font-size: 1.3rem;
    color: #9e9e9e;
    text-decoration: none;
    line-height: 25px;
    position: relative;
}

.header__nav-customer-care-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://lzd-img-global.slatic.net/g/tps/tfs/TB1nQJUcwmTBuNjy1XbXXaMrVXa-986-930.png);
    background-position: -163px -714px;
    background-repeat: no-repeat;
    width: 20px;
    height: 24px;
}

.header__nav-customer-care-item:nth-child(2) .header__nav-customer-care-icon {
    background-position: -133px -716px;
}

.header__nav-customer-care-item:nth-child(3) .header__nav-customer-care-icon {
    background-position: -101px -720px; 
    width: 28px; 
    height: 15px;
}

.header__nav-customer-care-item:nth-child(4) .header__nav-customer-care-icon {
    background-position: -73px -714px; 
    height: 25px;
}

.header__nav-customer-care-item:hover {
    text-decoration: underline;
    color: #f36d00;
}

.show-customer-care:hover .header__nav-customer-care{
    display: block;
}

    /* Header nav tracking popup */
.header__nav-track {
    display: none;
    width: 232px;
    position: absolute; 
    background-color: #fff;
    color: #9e9e9e;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border: 1px solid #ccc;
    top: calc(100% + 12px);
    border-radius: 2px;
    text-align: left;
    cursor: default;
    padding: 25px 21px;
    transform-origin: left top;
    animation: grow ease .3s;
    will-change: opacity, scale;
}

.show-track:hover .header__nav-track {
    display: block;
}

.header__nav-track-header {
    font-size: 1.5rem;
    color: #254a5f;
    font-weight: 400;
    margin-bottom: 12px;
}

.header__nav-track-wrap {
    margin-bottom: 10px;
}

.header__nav-track-email {
    display: flex;
    flex-direction: column;
}

.header__nav-track-label {
    font-size: 1.1rem;
    margin-bottom: 3.5px;
}

.header__nav-track-help {
    font-size: 1.1rem;
    line-height: 2rem;
    margin-top: 10px ;
}

.header__nav-track-help-link {
    font-size: 1.1rem;
    color: #199cb7;
    text-decoration: none;
}

    /* Header nav change language popup */
.header__nav-language {
    display: none;
    width: 262px;
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    border: 1px solid #ccc;
    cursor: default;
    padding: 20px 0;
    text-align: left;
    transform-origin: right top;
    animation: grow ease .3s;
    will-change: opacity, scale;
}

.header__nav-language::before {
    left: auto;
    right: calc(0% + 5px);
}

.show-language:hover .header__nav-language {
    display: block;
}

.header__nav-language-wrap {
    display: flex;
    justify-content: space-around;
}

.header__nav-language-item {
    position: relative;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.header__nav-language-VN-icon,
.header__nav-language-EN-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url(https://lzd-img-global.slatic.net/g/tps/tfs/TB1nQJUcwmTBuNjy1XbXXaMrVXa-986-930.png);
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-language-VN-icon {
    background-position: -633px -709px;
    left: -35px;
}

.header__nav-language-EN-icon {
    background-position: -768px -709px;
    left: -40px;
}

.header__nav-language-checked-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

    /* Header with search */
.header__with-search {
    height: 90px;
}

.header__with-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header__logo {
    width: 200px;
    display: flex;
    padding: 0px 8px;
}

.header__logo-img-link {
    text-decoration: none;
    color: transparent;
    display: flex;
}

.header__logo-img {
    width: 127px;
}

.header__search {
    flex: 1;
    position: relative;
}

.header__search-bar {
    display: flex;
}

.header__search-input:focus ~ .header__search-history {
    display: flex;
}

.header__search-history {
    position: absolute;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    top: 100%;
    display: none;
    flex-direction: column;
    overflow: hidden;
    padding: 0px 20px 12px 20px;
}

.header__search-history-item {
    padding: 8px 0px;
    font-size: 1.3rem;
    color: var(--text-color);
    text-decoration: none;
}

.header__search-history-item-header {
    padding: 8px 0px;
    font-size: 12px;
    color: #808080;
}

.header__search-history-item--delete {
    color: #f36d00;
    float: right;
    padding-right: 8px;
    font-weight: 450;
    cursor: pointer;
}

.header__search-history-ticket {
    float: right;
    margin-right: 8px;
    color: #f36d00;
}

.header__search-history-item:hover {
    color: #f36d00;
}

.header__search-input {
    border: none;
    background-color: #eff0f5;
    color: #212121;
    padding: 12px 20px;
    border-radius: 2px;
    flex: 1;
    outline: none;
}

.header__search-btn {
    background-color: #f36d00;
    width: 45px;
    height: 45px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    display: flex;
}

.header__search-btn-icon {
    font-size: 1.5rem;
    color: var(--white-color);
    margin: auto;
}

.header__cart-link {
    color: transparent;
    text-decoration: none;
    cursor: default;
}

.header__cart {
    width: 110px;
    display: flex;
    justify-content: center;
}

.header__cart-icon {
    font-size: 2.8rem;
    color: #0f1568;
    cursor: pointer;
}

.header__voucher-link {
    color: transparent;
    text-decoration: none;
}

.header__voucher-img {
    width: 188px;
}

.header__slider {
    background-color: #A80820;
    height: 344px;
    position: relative;
}

.header_home-category {
    display: inline-block;
    position: absolute;
    padding: 8px;

}

.header_home-category-list {
    background-color: var(--white-color);
    width: 200px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 2px;
}

.header_home-category-item {
    display: flex;
}

.header_home-category-item-icon {
    color: #f36d00;
    font-size: 1.8rem;
}

.header_home-category-item-link {
    color: #757575;
    text-decoration: none;
    padding-left: 8px;
    font-size: 1.3rem;
    line-height: 2.7rem;
    display: block;
    width: 100%;
}

.header_home-category-item-link:hover {
    color: #f36d00;
    background-color: #eff0f5;
    border-radius: 2px;
}



/* === End header */